<div class="w-25 m-auto">
    <div>
        <h1 class="text-center">Update Product</h1>
    </div>
    <p>{{updateProductMessage}}</p>
    <form #updateProduct="ngForm" (ngSubmit)="updateProductData(updateProduct.value)" class="form-group">
        <div class="mb-3">
            <input
             type="text"
             placeholder="Enter Product Name"
             name="name"
             ngModel="{{productData?.name}}"
             class="form-control"
            >
        </div>
        <div class="mb-3">
            <input
             type="text"
             placeholder="Enter Product Price"
             name="price"
             ngModel="{{productData?.price}}"
             class="form-control"
            >
        </div>
        <div class="mb-3">
            <input
             type="text"
             placeholder="Enter Product Color"
             name="color"
             ngModel="{{productData?.color}}"
             class="form-control"
            >
        </div>
        <div class="mb-3">
            <input
             type="text"
             placeholder="Enter Product Category"
             name="category"
             ngModel="{{productData?.category}}"
             class="form-control"
            >
        </div>
        <div class="mb-3">
            <textarea
             type="text"
             placeholder="Enter Product Description"
             name="description"
             ngModel="{{productData?.description}}"
             class="form-control"
            ></textarea>
        </div>
        <div class="mb-3">
            <input
             type="text"
             placeholder="Enter Product Image Url"
             name="image"
             class="form-control"
             ngModel="{{productData?.image}}"
            >
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" >Update Product</button>
        </div>
    </form>
</div>