<div class="update-product">
    <h1>Update Product</h1>
    <p>{{updateProductMessage}}</p>
    <form #updateProduct="ngForm" (ngSubmit)="updateProductData(updateProduct.value)" class="form">
        <input
         type="text"
         placeholder="Enter product name"
         name="name"
         ngModel="{{productData?.name}}"
         class="form-input"
        >
        <input
         type="text"
         placeholder="Enter product price"
         name="price"
         ngModel="{{productData?.price}}"
         class="form-input"
        >
        <input
         type="text"
         placeholder="Enter product color"
         name="color"
         ngModel="{{productData?.color}}"
         class="form-input"
        >
        <input
         type="text"
         placeholder="Enter product category"
         name="category"
         ngModel="{{productData?.category}}"
         class="form-input"
        >
        <textarea
         type="text"
         placeholder="Enter product description"
         name="description"
         ngModel="{{productData?.description}}"
         class="form-input"
        ></textarea>
        <input
         type="text"
         placeholder="Enter product image url"
         name="image"
         class="form-input"
         ngModel="{{productData?.image}}"
        >
        <button>Update Product</button>
    </form>
</div>
