<nav class="nav">
    <h1><a routerLink="/">E-COMM</a></h1>
    <div *ngIf="menuType === 'default'" class="nav-search">
        <input type="text" placeholder="Search for products">
        <button>Search</button>
    </div>
    <div class="nav-menu" [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a class="nav-menu-item-" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a class="nav-menu-item" routerLink="/seller-auth" routerLinkActive="active">Seller</a></li>
            <li><a class="nav-menu-item" href="#">Login</a></li>
            <li><a class="nav-menu-item" href="#">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a class="nav-menu-item" routerLink="" routerLinkActive="active">Product List</a></li>
            <li><a class="nav-menu-item" routerLink="" routerLinkActive="active">Add Product</a></li>
            <li><a class="nav-menu-item" (click)="logout()">Logout</a></li>
            <li><a class="nav-menu-item" href="#">Seller Name</a></li>
        </ul>
    </div>
</nav> 
