<nav class="nav">
    <h1>E-COMM</h1>
    <div class="nav-search">
        <input type="text" placeholder="Search for products">
        <button>Search</button>
    </div>
    <ul>
        <li><a class="nav-menu" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a class="nav-menu" routerLink="/seller-auth" routerLinkActive="active">Seller</a></li>
        <li><a class="nav-menu" href="#">Login</a></li>
        <li><a class="nav-menu" href="#">Cart(0)</a></li>
    </ul>
</nav> 
