<ngb-carousel *ngIf="popularProducts">
	<ng-template ngbSlide *ngFor="let item of popularProducts">
		<div class="picsum-img-wrapper">
			<img class="carousel-image" [src]="item.image" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
    <h1>Trendy Products</h1>
    <div class="row">
        <div class="col-sm-3" *ngFor="let item of trendyProducts">
            <div class="product-item">
                <img src="{{item.image}}" alt="">
                <div class="product-details">
                    <h6 class="name-head text-center">{{item.name}}</h6>
                    <div>
                        <h6 class="text-center">{{item.price}}</h6>
                    </div>
                    <div>
                        <h6 class="text-center">{{item.color}}</h6>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="">View Details</a>
                    <a href="">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>