/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    margin-bottom: 10px;
}

.form-input{
    margin-bottom: 20px;
    height: 35px;
    padding-left: 5px;
    border: 1px solid cadetblue;
    border-radius: 10px;
}

.form button{
    height: 35px;
    border: 1px solid cadetblue;
    border-radius: 10px;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
}